body {
    background-color: white;
    color: #1F2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.header, .content, .main, .main_content, .footer {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10em;
    padding-right: 10em;
}

.header {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    font-size: 18px;
    text-decoration: none;
    gap: 1em;
}

li {
    list-style: none;
    font-weight: 300;
}

.content {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    padding: 3em;
    justify-content: center;
}

.main_content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 30px;
    padding: 0px;
    gap: 3em;
}

.main_left {;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    flex-wrap: wrap;
}

.main_text {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: extra-bold;    
}

.main_subtext {
    display: flex;
    flex-wrap: wrap;
}

.button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px;
}

.main_right{
    background-color: grey;
    display: flex;
    flex: 1 1 0px;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 6em;
}

.info_content {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.info_box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
    gap: 1em;
}

.info_text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 1em;
}

.info_img {
    background-color: white;
    color: #3882F6;
    width: 150px;
    height: 150px;
    border: 5px solid;
    border-radius: 15px;
}

.info_subtext {
    color: #1F2937;
    font-size: 16px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6em;
}

.quote_text {
    max-width: 790px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote_author {
    width: 700px;
    font-weight: bold;
    text-align: end;
}

.signup {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 3em;
    padding: 3em;
}

.signup .button {
    border: 2px solid;
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    color: #E5E7EB;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: flex-end;
}